{% extends 'base.html' %}

{% block content %}
   
    <section class="page-section" id="connexion">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Connectez-vous</h2>
                    <hr class="divider" />                    
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <!-- Name input-->                        
                    <p>{{ message }}</p>
                    <form method="post">                    
                        {{ form.as_p }}
                        {% csrf_token %}               
                        <div class="d-grid"><button id="connexion-button" type="submit">SIGN IN/SIGN UP</button></div>
                    </form>
                    <p>Pas encore membre ? <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a></p>
                    <p>Mot de passe oublié ? <a href="{% url 'reset_password' %}">Réinitialisez votre mot de passe</a></p>
                                                                
                </div>
            </div>            
        </div>
    </section>
{% endblock %}